{# Import the theme's layout. #}
{% extends "!layout.html" %}

{%- block body -%}
	<h1> Category: {{ title }} </h1>

	{% if subcategories %}
	<br>
	<h2> Subcategories </h2>

	{# Sort into 3 columns #}
	{# Uses bootstrap col-md-4 for each column along with slice(3) to divide list #}
	
	<div class="row">

	testing|{{ subcategories }}

	{%- set prev_col_final_sect = "" %}
		{%- for column in subcategories|slice(3) %}
	    <div class="col-md-4">
        {%- set first = True %}
	    {%- for item in column %}
	       {%- if (item.name[0] != section or first) %}
		           {%- set section = item.name[0] %}
	           {%- set suffix = "" %}
	           {%- if first != true %}
	               </ul>
	           {%- else %}
	               {%- if section == prev_col_final_sect %}
	                  {%- set suffix = " (cont'd)" %}
	               {%- endif %}
	           {%- endif %}
	           <h3 style="font-weight:bold">{{ section }}{{ suffix }}</h3>
	           <ul>
	        {%- endif %}
	        <li>{{ item.name }}</li>
	        {%- set first = False %}
	    {%- endfor %} 
	    </div>
    {# {%- set prev_col_final_sect = column[-1][0] %} #}
	{%- endfor %}
	</div>

	<hr>
	{% endif %}

	<h2> Pages </h2>
	<hr>

	<ul>
    {%- for page_ref in pages %}
      <li><a href="{{ page_ref.link }}">{{ page_ref.name }}</a></li>
    {%- endfor %}
	</ul>

{%- endblock -%}